body {
  background-image: url("/images/holly.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: left;
  display: block;
}

.rounded {
  border-radius: 2em;
  /* box-sizing: border-box; */
}
.shadow {
  box-shadow: 0px 0px 4em rgba(0, 0, 0, 1);
}

.position {
  position: absolute;
  top: 0.1vw;
  left: 0.1vw;
  /* transform: translateX(-25%) translateY(-25%); */
  display: block;
}

h2 {
  display: inline-block;
}

.opacityWhite {
  background: rgba(255, 255, 255, 0.2);
}

/*
  CSS HEX
  --snow: #fbf5f3ff;
  --steel-teal: #7a918dff;
  --indigo-dye: #224870ff;
  --claret: #6e0d25ff;
  --mango-tango: #f0803cff;
*/
